#cookie {
    width: 90%;
    max-width: 700px;
    margin: 0 auto;
}
#win-text {
    color: white;
    text-align: center;
    margin: 20px auto;
}
#greed-warning {
    color: white;
    text-align: center;
    margin: 0 auto 20px;
}